<html>
<head>
  <%= stylesheet_link_tag 'index', media: 'all' %>
  <meta charset="utf-8">
  <title>Image Sharer Apurva</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<form>
<fieldset class="text-center p-5">
  <legend>Welcome to Image Sharer Application! 1+1 <%= 1+1 %></legend>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Image Link:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="link">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</fieldset>
</form>
</body>
</html>

