<div class="text-center">
<h2>Welcome to Image Sharer Application!</h2>
</div>
<div>
  <br/>
  <h2>Saved Images</h2>
  <div class="row">
    <% @image.each do |img| %>
    <div class="">
      <div class="card">

        <div class="img-container">
          <img src='<%=img.url%>' width='300' height='300'>
        </div>

        <div class="card-body">
          <p class="card-text text-muted">Tags: <%= raw(img.tag_list.map { |t| link_to(t, tag_path(t)) }.join(', ')) %></p>
        </div>

      </div>
    </div>
    <% end %>
  </div>
    </div>

