<p>
<div class="text-center">
  <strong>Saved Image:</strong>
  <span class="js-image">
  <img src=<%= @image.url %> width='600' height='600'><br><br>
  </span>

  <strong>tags:</strong>
  <span class="js-tag">
    <%= @image.tag_list %>
    </span><br><br>
  <%= link_to '<button type="button">Back</button>'.html_safe, '/images/new' %>
</div>
</p>

